[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = git://github.com/tpope/vim-obsession
